.subContainer{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 125px;
    width: 800px ;
}

.container{
    height: 1000px;
}
.subContainer{
    border-radius: 20px;
    margin-left: 150px;
    
}
hr{
    margin-right: 20px;
}
.header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: gray;
    color: white;
    height: 90px;
}
.formContainer{
    padding-left: 20px;
    padding-top: 20px;
}


body{
    background-color: darkgray;
}

h1{
    font-family: Monospace;
}

